name: "Backend: Build and deploy"

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '**/**.md'
      - '.gitignore'
      - 'LICENCE'
      - 'frontend/**'

jobs:
  build:
    name: build
    runs-on: ubuntu-24.04
    permissions:
      packages: write
      repository-projects: write
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin
      - uses: actions/cache@v4
        with:
          path: ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-wrapper-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
      - uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-cache-${{ hashFiles('build.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-cache-
      - name: Build backend
        run: ./gradlew buildBackend
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: nais/docker-build-push@v0
        id: docker-push-backend
        with:
          team: team-emottak
          tag: ${{ github.sha }}
          dockerfile: backend/Dockerfile
          docker_context: backend
          image_suffix: backend
    outputs:
      backendimage: ${{ steps.docker-push-backend.outputs.image }}

  deploy-backend:
    name: Deploy emottak-test-client-backend to dev
    needs: build
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - name: Deploy backend to DEV
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-fss
          RESOURCE: .nais/backend.yaml
          IMAGE: ${{ needs.build.outputs.backendimage }}
